.paddingLeft15{
    padding-left: 15px;
}
.flex1{
    flex: 1;
}
.overflowHidden{
    overflow: hidden;
}

.paddingBottom3{
    padding-bottom: 3px;
}
.link-textDecorationNone{
    text-decoration: none;
    color: #000
}
.height50{
    height: 50px;
}
.paddingTop5{
    padding-top: 5px;
}
.marginLeft15{
    margin-left: 15px;

}
.marginLeft10{
    margin-left: 10px;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop15{
    margin-top: 15px;
}
.marginTop30{
    margin-top: 30px;
}
.buttonDark{
    border-color: #3E8432 !important;
    color: #3B7830 !important;
}
.middotDivider{
    padding-right: .3em;
    padding-left: .3em;
}
.middotDivider:after {
    content: '\00B7';
}
.caption{
    color: rgba(0,0,0,.54)!important;
    fill: rgba(0,0,0,.54)!important;
}
.readingTime:after {
    content: attr(title);
}
.fontSize16{
    font-size: 16px!important;
}
.fontSize12{
    font-size: 12px!important;
}
.fontSize14{
    font-size: 14px!important;
}
.flexBasis100p{
    flex-basis: 100%;
}
.justifyContentCenter{
    justify-content: center;
}
.flex{
    display: flex;
}
.flexWrapWrap{
    flex-wrap: wrap;
}
