body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    padding-bottom: 20px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 100, 0, 1);
}
header a {
    text-decoration: none;
    color: #B5DDA8;
}

nav {
    width: 1030px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto;
}

nav div {
    display: inline-block;
}

.metabar {
    display: flex;
    align-self: baseline;
}

.svgIcon-use {
    fill: #fff;
}

.home-icon{
    display: flex;
    height: 45px;

}
.home-icon::after {
    content: "";
    background-color: rgba(255,255,255,.2);
    width: 1px;
    height: 28px;
    margin-left: 15px;
    margin-right: 20px;
    flex: center;
    align-self: center;
}
.freeCodeCamp {
    margin-top: 5px;
    margin-right: 25px;
}
.follow{
    display: flex;
}

@media screen and (max-width: 1200px){
    .follow{
        display: none;
    }
}
.follow > button{
    align-self: center;
    background-color: transparent;
    color: #B5DDA8;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #B5DDA8;
    border-radius: 5px;
}


.authorization {
    margin: auto;
    margin-right: 0px;
}

.authorization div {
    margin: 10px;
}

.authorization > button{
    width: 105px;
    height: 35px;
    background-color: transparent;
    color: #B5DDA8;

}
.singin{
    border: none;
}
@media screen and (max-width: 770px){
    .singin{
        display: none;
    }
}
.singup{
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #B5DDA8;
    border-radius: 3px;
}
.navbar{
    display: flex;
    align-items: stretch;
    color: #B5DDA8;
}
.navbar div {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.learntocode{
    display: flex;
    align-content: center;
}
.learntocode::before{
    content: "";
    background-color: #8ABF7C;
    width: 1px;
    height: 18px;
    margin-left: 5px;
    margin-right: 10px;
    flex: center;
    align-self: center;
    
}

