*, *::before, *::after {
    box-sizing: border-box;
    word-wrap: break-word;
}
body {
    margin: 0px;
}
.header {
    background-color: rgba(0, 100, 0, 1);
    display: flex;
    justify-content: center;
}
.nav {
    max-width: 1072px;
    width: 100%;
    padding: 10px 20px 0;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
}
nav .svgIcon-use {
    fill: #F3FFEA;
}
a{
    color: #B5DDA8;
    text-decoration: none;
}
h3, h4, p, blockquote, figure{
    margin: 0;
}
.a--black{
    color: black;
    text-decoration: none!important;
}
button{
    background-color: transparent;
    color: #B5DDA8;

}
button:hover{
    cursor: pointer;
}
.btn--dark{
    border-color: #3E8432 !important;
    color: #3B7830 !important;
}
.metabar{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
}
.metabar__home-icon{
    display: flex;
}
.metabar__home-icon::after{
    content: "";
    background-color: rgba(255,255,255,.2);
    width: 1px;
    height: 28px;
    margin-left: 15px;
    margin-right: 20px;
    align-self: center;
}

.follow-btn{
    color: #B5DDA8;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #B5DDA8;
    border-radius: 5px;
    margin-left: 15px;
}
@media(max-width: 1200px){
    .metabar .follow-btn{
        display: none;
    }
}

.authorization > button{
    margin-top: 4px;
    height: 37px;

}
.authorization__signin-btn{
    margin-right: 10px;
    border: none;
}
@media(max-width: 770px){
    .authorization__signup-btn{
        display: none;
    }
}
@media(max-width: 500px){
    .authorization__signin-btn{
        display: none;
    }
}

.authorization__signup-btn{
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #B5DDA8;
    border-radius: 5px;
}
.navbar{
    font-size: 15px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    flex-basis: 100%;
}
.navbar a{
    text-transform: uppercase;

}
.navbar__home{
    padding-right: 20px;
}
.navbar__learntocode{
    display: flex;
    align-items: center;
}
.navbar__learntocode::before{
    content: "";
    background-color: #8ABF7C;
    width: 1px;
    height: 18px;
    margin-left: 5px;
    margin-right: 10px;
    align-self: center;
    
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.post-article__content{
    margin: 0 auto;
    position: relative;
    margin-bottom: 0;
}

.section-content {
    align-content: center;
}
.section-content__inset-column, .section-content-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
    padding: 0 25px;
    width: 100%;
    margin: 0 auto;
}
.section-content-header__h1 {

    padding-top: 25px;
    letter-spacing: 0;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    margin: 0;
}
.section-content-header__author {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 25px;
}
.section-content-header__avatar-image {
    border-radius: 100%;
}
.section-content-header__avatar-halo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #03a87c;
    fill: #03a87c;
    position: absolute;
}
.section-content-header__first {
    position: relative;
}
.section-content-header__second {
    margin-top: 5px;
    margin-left: 15px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px!important;
}
.section-content--author__caption {
    flex-basis: 100%;
    font-size: 14px;
    display: flex;
    overflow: hidden;
    color: rgba(0,0,0,.54)!important;

}
.section-content--author__caption__middot-divider {
    padding-right: .3em;
    padding-left: .3em;
}
.section-content--author__caption__middot-divider:after {
    content: '\00B7';
}
.section-content--author__caption__reading-time:after {
    content: attr(title);
}
.section-content__figure {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 50px;
}
.section-content__figure figcaption {

    font-size: 14px;
    margin-top: 15px;
    position: relative;
    width: 100%;
    color: rgba(0,0,0,.68);
    text-align: center;
}
.section-content__figure img {
    max-width: 1000px;
    max-height: 560px;
}
.section-content figure img {
    width: 100%;
    height: 100%;
}
.section-content__figure figcaption a {
    color: #3E8432 !important;
    text-decoration: none;
}
.section-content figure + div {
    margin-top: 44px;

}
.section-content__inset-column p {
    font-family: serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
.inset-column__graf--p__quote {
    background-color: rgba(222, 250, 211, 1);
}

figure + .section-content__inset-column::before{
    content: "";
    margin-top: 20px;
    width: 100%;
}
.section-content__inset-column figure + p {
    margin-top: 38px;
}
.section-content__inset-column p + p {
    margin-top: 29px;
}
.section-content__inset-column h3 + p {
    margin-top: 8px;
}
.section-content__inset-column h4 + p {
    margin-top: 6px;
}
.section-content__inset-column pre + p {
    margin-top: 38px;
}
.section-content__inset-column .inset-column__blockquote + p {
    margin-top: 25px;
}
.section-content__inset-column .inset-column__pullquote + p {
    margin-top: 54px;
}
.section-content__inset-column p + h3 {
    margin-top: 56px;
}
.section-content__inset-column p + h4 {
    margin-top: 30px;
}
.section-content__inset-column figure + h4 {
    margin-top: 17px;
}
.section-content__inset-column pre + blockquote {
    margin-top: 38px;
}
.section-content__inset-column p + blockquote {
    margin-top: 55px;
}
.section-content__inset-column p + pre {
    margin-top: 43px;
}
.section-content__inset-column .inset-column__pullquote + figure {
    margin-top: 68px;
}
.section-content__inset-column p + figure {
    margin-top: 45px;
}
.section-content__inset-column pre + .inset-column__pullquote{
    margin-top: 64px;
}
.last-section {
    padding-bottom: 5px;
}
.section-content__inset-column code {
    font-family: Courier;
    font-size: 16px;
    background: rgba(0,0,0,.05);
    padding: 3px 4px;
    margin: 0 2px;
}
.inset-column__pullquote {
    flex-basis: 100%;
    color: rgba(0,0,0,.68);
    border: none;
    padding: 0;
    padding-left: 50px;
    text-align: left;
    font-family: serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 1.48;
    letter-spacing: -.012em;
}
.section-content__inset-column a {
    color: inherit;
    text-decoration: underline;
}
.section-content__inset-column figure {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
.inset-column__img1 {
    max-width: 700px;
    max-height: 400px;
}
.inset-column__img2 {
    max-width: 700px;
    max-height: 160px;
}
.inset-column__gif {
    margin: 0 25px;
    max-width: 650px;
    max-height: 186px;
}
.inset-column__gif2 {
    margin: 0 25px;
    max-width: 636px;
    max-height: 220px;
}
.section-content__inset-column figcaption {
    margin-top: 10px;
    font-size: 14px;
    position: relative;
    width: 100%;
    color: rgba(0,0,0,.68);
    text-align: center;
}
.section-content__inset-column h3{
    flex-basis: 100%;
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: -.015em;
}
.section-content__inset-column h4{
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    line-height: 1.22;
    letter-spacing: -.012em;
}
.section-content__inset-column pre{
    flex-basis: 100%;
    background: rgba(0,0,0,.05);
    padding: 20px;
    white-space: pre-wrap;
    font-family: Courier;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}
.inset-column__blockquote{
    font-family: Georgia;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 2px;
}
.last-section hr.section-divider{
    border: 0;
    text-align: center;
    overflow: visible;
    margin-top: 52px;
}
.last-section hr.section-divider::before{
    font-family: Georgia;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: .6em;
    content: '...';
    margin-left: .6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
}
.inset-column__leading{
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
}