html(lang="en")
    head
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        header.header
            nav.header__nav
                a(href="#") 
                    img(src="./media/logo.svg", alt="")
                a(href="#")#features Features
                a(href="#")#pricing Pricing
                a(href="#")#pages Pages 
                a(href="#")#help ?
            .header__content
                .header__introduction
                    h1.header__h1 Start. Design. Publish!
                    p.header__p Millions of people trust xPider to create beautiful websites.
                    .header__btn--start-free-trial Start Free Trial
                .header__video-preview
                    img(src="./media/video-preview.png", alt="")

        section.tools
            header.tools__header
                h3.section__h3 xPider  brings all your creativity together
                p.section__p When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.
            .tools__wrapper
                .tools__item.tools__item--choosed
                    img(src="./media/ic/drag.svg", alt="")
                    h5.section__h5 AI Page Builder
                .tools__item
                    img(src="./media/ic/settings.svg", alt="")
                    h5.section__h5 Easy to Customize
                .tools__item
                    img(src="./media/ic/responsive.svg", alt="")
                    h5.section__h5 Fits with Any Device
            .tools__page-builder
                .tools__build-anything
                    img(src="./media/build-anything.png", alt="")
                .tools__description
                    h4.tools__h4 Build anything, anytime!
                    ul.tools__ul
                        li Your users are impatient. They're probably distracted too. Keep it simple and beautiful, fun and functional. By a strong concept is what we stand for.
                        li They're probably distracted too. Keep it simple & clean, fun and functional. Clean aesthetics supported.
                    blockquote(author="James Duren, CTO, Fish&co").tools__blockquote “Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!”

        section.steps
            header.steps__header
                h3.section__h3 How xPider works for you?
                p.section__p When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.
                
            main.steps__main
                .steps__wrapper
                    .steps__item
                        .steps__wrapper-inner
                            .steps__img.steps__img--img1
                            h5.section__h5 Get started with xPider
                            p.steps__p Login or Signup in xPider Dashboard to get started.
                    .steps__item
                        .steps__wrapper-inner
                            .steps__img.steps__img--img2
                            h5.section__h5 Build your website
                            p.steps__p Using our super powerful builder, build your website.
                    .steps__item
                        .steps__wrapper-inner
                            .steps__img.steps__img--img3
                            h5.section__h5 Publish when finsihed
                            p.steps__p When you are done, hit the publish button to show the world!

        section.built-for-growth
            main.built-for-growth__main
                img(src="./media/built-for-growth.png", alt="")
                .built-for-growth__container
                    h4.built-for-growth__h4 Built for growth
                    p.built-for-growth__p Use Timeline to plan projects right the first time. See how the pieces fit together so you can spot gaps and overlaps before you start.
                    img(src="./media/ic/html.png", alt="").built-for-growth__tech-img
                    img(src="./media/ic/css.png", alt="").built-for-growth__tech-img
                    img(src="./media/ic/js.png", alt="").built-for-growth__tech-img
                    p.built-for-growth__p Big, small, online, offline, local or international. Size doesn't matter. We work on diverse projects for top brands as well as for cool startups. Check out some of our favorites.
                    a(href="#").built-for-growth__a Try xPider now

        section.unique-blocks
            main.unique-blocks__main
                .unique-blocks__container
                    h4.unique-blocks__h4 1500+ Unique Blocks
                    p.unique-blocks__p Use Timeline to plan projects right the first time. See how the pieces fit together so you can spot gaps and overlaps before you start.
                    a(href="").unique-blocks__a See all blocks live
                img(src="./media/unique-blocks.png", alt="")

        section.customers
            header.customers__header
                h3.section__h3 You’re in a good hand
                p.section__p  Millions of people around the world have already made xPider the place where their dream happens.    
            main.customers__main
                .customers__container
                    .customers__item
                        p.customers__p Life before Company was very chaotic — we got a lot of phone calls, a lot of mistyped orders. So with Company, the ability to see the order directly from the customer makes it so streamlined.
                        .customers__person-img(person="Martin Jones, Creative Cons")
                    .customers__item
                        p.customers__p There’s no way we could have hired these many people and gotten so much business had we not had all of those back-office systems figured out. It’s been easier growing our company with a system that is so easy and scalable.
                        .customers__person-img(person="Jessia Cordon, Fashionier")
                    .customers__item
                        p.customers__p Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!
                        .customers__person-img(person="Cristina J, Journey360")
                a(href="#").customers__a Check all testimonials ?
                footer.customers__footer
                    img(src="./media/brands/logo - 1.png", alt="")
                    img(src="./media/brands/logo - 2.png", alt="")
                    img(src="./media/brands/logo - 3.png", alt="")
                    img(src="./media/brands/logo - 4.png", alt="")
                    img(src="./media/brands/logo - 5.png", alt="")

        section.tariffs
            header.tariffs__header
                h3.section__h3 Simple, Straight Pricing
                p.section__p Millions of people around the world have already made xPider the place where their dream happens.
            main.tariffs__main
                .tariffs__dot-grid-1
                .tariffs__container
                    .tariffs__card
                        .tariffs__price 
                            .tariffs__value $19
                            h6.tariffs__h6 Billed Monthly
                        .tariffs__description
                            p.tariffs__p No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
                            .tariffs__btn Try 14 days free trial
                    .tariffs__card
                        .tariffs__price 
                            .tariffs__value $9
                            h6.tariffs__h6 Billed Anually
                        .tariffs__description
                            p.tariffs__p No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
                            .tariffs__btn Try 14 days free trial
            footer.tariffs__footer
                p.tariffs__p Both pricings contains all of our features.
                a(href="#").tariffs__a Check all our features ?

        section.free-trial
            header.free-trial__header
                h3.section__h3 Try xPider for 14 days, for free!
                p.section__p Millions of people around the world have already made xPider the place where their dream happens.
            main.free-trial__main
                .free-trial__some-item1
                .free-trial__some-item2
                .free-trial__some-item3
                .free-trial__btn--get-started Get started

        footer.footer
            .footer__big-gray-web
            main.footer__main
                .footer__web
                ul.footer__ul Company
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Careers
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Press
                    li
                        a(href="#") Brand Guidelines

                ul.footer__ul Product
                    li
                        a(href="#") Why xPider?
                    li
                        a(href="#") Enterprise
                    li
                        a(href="#") Customer Stories
                    li
                        a(href="#") Pricing
                    li
                        a(href="#") Security

                ul.footer__ul Resources
                    li
                        a(href="#") Download
                    li
                        a(href="#") Help Center
                    li
                        a(href="#") Guides
                    li
                        a(href="#") Partners
                    li
                        a(href="#") Events
            footer.footer__footer
                .footer__wrapper
                    .footer__wrapper-inner
                        a(href="#").footer__a Status
                        a(href="#").footer__a Privacy & Terms
                        a(href="#").footer__a Contact Us
                    .footer__wrapper-inner
                        .footer__language
                            img(src="./media/flags/us.png", alt="").footer__flag
                            span.footer__language English ?
                        .footer__socials
                            span.footer__social#facebook
                            span.footer__social#twitter
                            span.footer__social#dribbble