html(lang="en")
    head
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        //- img(src="./media/bg.png")#bg
        main.main
            header.header
                header    
                    .some-element
                    .some-other-element
                    nav.nav
                        a(href="#") 
                            img(src="./media/logo.svg", alt="")
                        a(href="#")#features Features
                        a(href="#")#pricing Pricing
                        a(href="#")#pages Pages 
                        a(href="#")#help ?
                .content
                    .introduction
                        h1 Start. Design. Publish!
                        p Millions of people trust xPider to create beautiful websites.
                        .btn.start-free-trial Start Free Trial
                    .video-preview
                        //- img(src="./media/video-preview@2x.png", alt="").video-preview

            section.section1
                header
                    h3.section__h3 xPider  brings all your creativity together
                    p.section__p--when-u-need When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.
                .wrapper
                    .item.choosed
                        img(src="./media/ic/drag.svg", alt="")
                        h5.section__h5 AI Page Builder
                    .item
                        img(src="./media/ic/settings.svg", alt="")
                        h5.section__h5 Easy to Customize
                    .item
                        img(src="./media/ic/responsive.svg", alt="")
                        h5.section__h5 Fits with Any Device
                .page-builder
                    img(src="./media/il/dot-grid-3.svg", alt="").dot-grid-3
                    .build-anything
                    img(src="./media/il/triangle.svg", alt="").triangle
                    .description
                        h4 Build anything, anytime!
                        ul
                            li Your users are impatient. They're probably distracted too. Keep it simple and beautiful, fun and functional. By a strong concept is what we stand for.
                            li They're probably distracted too. Keep it simple & clean, fun and functional. Clean aesthetics supported.
                        blockquote(author="James Duren, CTO, Fish&co") “Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!”


            section.section2
                main
                    header
                        h3.section__h3 How xPider works for you?
                        p.section__p--when-u-need When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.
                    .wrapper
                        .item
                            .wrapper-inner
                                .img.img1
                                h5.section__h5 Get started with xPider
                                p Login or Signup in xPider Dashboard to get started.
                        img(src="./media/ic/arrow.svg", alt="")
                        .item
                            .wrapper-inner
                                .img.img2
                                h5.section__h5 Build your website
                                p Using our super powerful builder, build your website.
                        img(src="./media/ic/arrow.svg", alt="")
                        .item
                            .wrapper-inner
                                .img.img3
                                h5.section__h5 Publish when finsihed
                                p When you are done, hit the publish button to show the world!
            section.section3
                main
                    .img--build-with
                    .container
                        h4 Built for growth
                        p Use Timeline to plan projects right the first time. See how the pieces fit together so you can spot gaps and overlaps before you start.
                        img(src="./media/ic/html.png", alt="")
                        img(src="./media/ic/css.png", alt="")
                        img(src="./media/ic/js.png", alt="")
                        p Big, small, online, offline, local or international. Size doesn't matter. We work on diverse projects for top brands as well as for cool startups. Check out some of our favorites.
                        a(href="#") Try xPider now
            section.section4
                .circle
                .unique-blocks
                .container
                    h4 1500+ Unique Blocks
                    p Use Timeline to plan projects right the first time. See how the pieces fit together so you can spot gaps and overlaps before you start.
                    a(href="") See all blocks live
            section.section5
                main
                    .dot-grid2
                    .wave
                    header
                        h3.section__h3 You’re in a good hand
                        p.section__p--when-u-need  Millions of people around the world have already made xPider the place where their dream happens.
                    .container
                        .item
                            p Life before Company was very chaotic — we got a lot of phone calls, a lot of mistyped orders. So with Company, the ability to see the order directly from the customer makes it so streamlined.
                            .img(person="Martin Jones, Creative Cons")
                        .item
                            p There’s no way we could have hired these many people and gotten so much business had we not had all of those back-office systems figured out. It’s been easier growing our company with a system that is so easy and scalable.
                            .img(person="Jessia Cordon, Fashionier")
                        .item
                            p Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!
                            .img(person="Cristina J, Journey360")
                    a(href="#") Check all testimonials ?
                    footer
                        img(src="./media/brands/logo - 1.png", alt="")
                        img(src="./media/brands/logo - 2.png", alt="")
                        img(src="./media/brands/logo - 3.png", alt="")
                        img(src="./media/brands/logo - 4.png", alt="")
                        img(src="./media/brands/logo - 5.png", alt="")
            section.section6
                header
                    h3.section__h3 Simple, Straight Pricing
                    p.section__p--when-u-need Millions of people around the world have already made xPider the place where their dream happens.

                main
                    .dot-grid-1
                    .dot-grid-4
                    .container
                        .container__card.card1
                            .price 
                                .value $19
                                h6 Billed Monthly
                            .description
                                p No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
                                .btn Try 14 days free trial
                        .container__card.card2
                            .price 
                                .value $9
                                h6 Billed Anually
                            .description
                                p No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
                                .btn Try 14 days free trial
                footer
                    p Both pricings contains all of our features.
                    a(href="#") Check all our features ?
            section.section7
                header
                    h3.section__h3 Try xPider for 14 days, for free!
                    p.section__p--when-u-need Millions of people around the world have already made xPider the place where their dream happens.
                main
                    .some-item1
                    .some-item2
                    .some-item3
                    .btn--get-started Get started
            footer.footer
                .big-gray-web
                
                main
                    .web
                    ul Company
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Careers
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Press
                        li
                            a(href="#") Brand Guidelines

                    ul Product
                        li
                            a(href="#") Why xPider?
                        li
                            a(href="#") Enterprise
                        li
                            a(href="#") Customer Stories
                        li
                            a(href="#") Pricing
                        li
                            a(href="#") Security

                    ul Resources
                        li
                            a(href="#") Download
                        li
                            a(href="#") Help Center
                        li
                            a(href="#") Guides
                        li
                            a(href="#") Partners
                        li
                            a(href="#") Events
                footer
                    .wrapper
                        .wrapper-inner
                            a(href="#") Status
                            a(href="#") Privacy & Terms
                            a(href="#") Contact Us
                        .wrapper-inner
                            .language
                                img(src="./media/flags/us.png", alt="").flag
                                span.language English ?
                            .socials
                                span.social#facebook
                                span.social#twitter
                                span.social#dribbble
